* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #888;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #444;
  min-height: 100vh;
}

header {
  flex-basis: 10vh;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
}

input:focus,
button:focus {
  outline: none;
  outline-offset: 0;
}

input {
  font-size: 20px;
  margin: 5px;
  padding: 2px 5px;
  border: none;
  width: 80%;
  max-width: 250px;
}

button {
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #222;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
  max-width: 250px;
}
